<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423802&type=card" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Rogue Refiner — 1GreenBlue
                    </h4>
                    <h5>Creature — Human Rogue</h5>
                    <h6>Aether Revolt — Uncommon</h6>
                    <p class="group inner list-group-item-text">
                        When Rogue Refiner enters the battlefield, draw a card and you get EnergyEnergy (two energy counters).
                    </p>
                    <p class="group inner list-group-card-flavor-text">
                        "It's natural, it's all around us, and it's there for the taking. Just try and tell me what I'm doing is wrong."
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423802&type=card" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Product title
                </h4>
                <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $21.000
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423802&type=card" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Product title
                </h4>
                <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $21.000
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423802&type=card" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Product title
                </h4>
                <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $21.000
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423802&type=card" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Product title
                </h4>
                <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $21.000
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=423802&type=card" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                    Product title
                </h4>
                <p class="group inner list-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead">
                            $21.000
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
